html, body {
    margin: 0;
}
/* Frame Principal */
.framePrincipal {
position: relative;
min-width: 1024px;
min-height: 768px;
max-width: 1920px;
max-height: 1080px;
background: #301934;
background-size: cover;
}

/* Black Frame */
.blackFrame {
position: relative;
min-width: 1024px;
max-width: 1920px;
height: 150px;
background: black;
}
 
/* Layout */
.layout {
position: relative;
min-width: 1024px;
max-width: 1920px;
height: 50px;
background: url(images/layout.png);
background-repeat:no-repeat;
background-size:cover;
}

/* Line  */
.line {
position: relative;
min-width: 1024px;
max-width: 1920px;
border: 5px solid #FFCD04;
}

/* Criticas.net */
.criticasNet {
position: relative;
width: 140px;
height: 140px;
left: 50%;
top: -205px;
background: url(images/criticas_net.png);
background-repeat:no-repeat;
background-size:cover;
border-radius: 116px;
}

/* Catálogos */  
.catalogos {
position: relative;
width: 160px;
height: 40px;
left: 2%;
top: -240px;
font-family: 'Inter';
font-weight: 400;
font-size: 32px;
display: flex;
align-items: center;
text-indent: 5px;
color: #000000;
background: #FFCC00;
}

/* Nova Critica */
.novaCritica {
position: relative;
width: 185px;
height: 40px;
left: 13%;
top: -320px;
font-family: 'Inter';
font-weight: 400;
font-size: 32px;
display: flex;
align-items: center;
text-indent: 5px;
color: #000000;
background: #FFCC00;
}

/* Cadastrar Filme */
.cadastrarFilmes {
position: relative;
width: 220px;
height: 40px;
left: 25.75%;
top: -360px;
font-family: 'Inter';
font-weight: 400;
font-size: 32px;
display: flex;
align-items: center;
text-indent: 5px;
color: #000000;
background: #FFCC00;
}

/* Login */
.login {
position: relative;
width: 140px;
height: 40px;
top: -280px;
left: 80%;
font-family: 'Inter';
font-weight: 400;
font-size: 32px;
display: flex;
align-items: center;
text-indent: 5px;
color: #000000;
background: #FFCC00;
}

/* cadeado */
.cadeado {
position: relative;
width: 50px;
height: 50px;
top: -410px;
left: 85.5%;
background: url(images/cadeado.png);
background-repeat:no-repeat;
background-size:cover;
}