html,body,#wrapper {
    overflow:auto;
    width: 100%;
    min-height: 100%;
    margin: auto;
    padding: 0;
    border: 0;
    width: auto;
    max-width: fit-content;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* Cadastrar Filme */
.cadastro{
box-sizing: border-box;
position: relative;
width: 1920px;
height: 1080px;
background: #301934;
border: 1px solid #000000;
}

/* Rectangle 4 */
.rectangle4{
position: absolute;
width: 1920px;
height: 223px;
left: 0px;
top: 3px;
background: linear-gradient(180deg, #000000 66.52%, #000000 71.49%, rgba(0, 0, 0, 0.42) 98.43%, rgba(0, 0, 0, 0.35) 99.97%, rgba(0, 0, 0, 0.0677151) 99.97%, rgba(0, 0, 0, 0) 99.98%);
}

/* Rectangle 5 */
.rectangle5{
position: absolute;
width: 1920px;
height: 61px;
left: 0px;
top: 226px;
background: rgba(34, 34, 34, 0.9);
}

/* Line  */
.line{
position: absolute;
width: 1920px;
height: 0px;
left: 0px;
top: 223px;
border: 5px solid #FFCD04;
transform: rotate(0.01deg);
}

/* Criticas.net */
.criticasNet{
box-sizing: border-box;
position: absolute;
width: 179px;
height: 179px;
left: 907px;
top: 17px;
background: url(images/criticas_net.png);
background-repeat:no-repeat;
background-size:cover;
border: 1px solid #000000;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 116px;
}

/* cadeado */
.cadeado{
position: absolute;
width: 70.25px;
height: 70px;
left: calc(50% - 70.25px/2 + 799.13px);
top: calc(50% - 70px/2 - 364px);
background: url(images/cadeado.png);
background-repeat:no-repeat;
background-size:cover;
}

/* Sociais */
.sociais{
position: absolute;
width: 391px;
height: 65px;
left: 1499px;
top: 21px;
background: url(images/sociais.png);
background-repeat:no-repeat;
background-size:cover;
}

/* Botao_catalogo */
.botaoCatalogo{
box-sizing: border-box;
position: absolute;
width: 160px;
height: 52.92px;
left: 59px;
top: 159px;
background: #FFCC00;
border: 1px solid #000000;
filter: blur(4px);
}

/* Botao_catalogo */
.botaoNovaCritica{
box-sizing: border-box;
position: absolute;
width: 200px;
height: 52.92px;
left: 255px;
top: 159px;
background: #FFCC00;
border: 1px solid #000000;
filter: blur(4px);
}

/* Botao_catalogo */
.botaoCadastrarFilmes{
box-sizing: border-box;
position: absolute;
width: 250px;
height: 52.92px;
left: 499px;
top: 160px;
background: #FFCC00;
border: 1px solid #000000;
filter: blur(4px);
}

/* Botao_login */
.botaoLogin{
box-sizing: border-box;
position: absolute;
width: 147px;
height: 59px;
left: 1571px;
top: 153px;
background: #FFCC00;
border: 1px solid #000000;
filter: blur(4px);
}

/* Login */
.login{
position: absolute;
width: 123px;
height: 48px;
left: 1595px;
top: 158px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
color: #000000;
border: 1px solid #301934;
backdrop-filter: blur(4px);
}

/* Catálogos */
.catalogos{
position: absolute;
width: 158px;
height: 39px;
left: 61px;
top: 165px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
border: 1px solid #000000;
backdrop-filter: blur(4px);
}

/* Nova Critica */
.novaCritica{
position: absolute;
width: 185px;
height: 39px;
left: 263px;
top: 167px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
border: 1px solid #000000;
backdrop-filter: blur(4px);
}

/* Cadastrar Filme */
.cadastrarFilmes{
position: absolute;
width: 268px;
height: 39px;
left: 490px;
top: 167px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
border: 1px solid #000000;
backdrop-filter: blur(4px);
}

/* CADASTRAR FILME */
.cadastrarFilme{
position: absolute;
width: 292px;
height: 38px;
left: 23px;
top: 242px;
font-family: 'Tomorrow';
font-style: italic;
font-weight: 400;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;
color: #FFCC00;
border: 1px solid #000000;
}

/* Bloco Dados */
.informacoesCadastro{
position: absolute;
width: 1230px;
height: 750px;
left: 23px;
top: 316px;
background: rgba(34, 34, 34, 0.9);
}

/* Bloco capa Filme */
.imagemFilme{
position: absolute;
width: 602px;
height: 750px;
left: 1275px;
top: 316px;
background: rgba(34, 34, 34, 0.9);
}

/* Adicionar Banner */
.addBanner{
position: absolute;
width: 323px;
height: 48px;
left: 1414px;
top: 849px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
}


/* Ellipse 1 */
.ellipse{
position: absolute;
width: 235px;
height: 235px;
left: 1458px;
top: 540px;
background: #A1A2A6;
}

/* Line 1 */
.line2{
position: absolute;
width: 127px;
height: 0px;
left: 1512px;
top: 661px;
border: 10px solid #222222;
}

/* Line 2 */
.line3{
position: absolute;
width: 127px;
height: 0px;
left: 1571px;
top: 594px;
border: 10px solid #222222;
transform: rotate(89.96deg);
}

/* Titulo da obra: */
.titulo{
position: absolute;
width: 213px;
height: 38px;
left: 59px;
top: 368px;
font-family: 'Tomorrow';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;
color: #FFCC00;
}


/* Gênero: */
.genero{
position: absolute;
width: 120px;
height: 38px;
left: 61px;
top: 465px;
font-family: 'Tomorrow';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;
color: #FFCC00;
}


/* Duração: */
.duracao{
position: absolute;
width: 135px;
height: 38px;
left: 61px;
top: 556px;
font-family: 'Tomorrow';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;
color: #FFCC00;
}


/* Sinópse: */
.sinopse{
position: absolute;
width: 132px;
height: 38px;
left: 55px;
top: 675px;
font-family: 'Tomorrow';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;
color: #FFCC00;
}


/* Campo Titulo da Obra */
.campoTitulo{
position: absolute;
width: 891px;
height: 38px;
left: 315px;
top: 368px;
background: #A1A2A6;
}

/* Campo Gênero */
.campoGenero{
position: absolute;
width: 891px;
height: 38px;
left: 315px;
top: 465px;
background: #A1A2A6;
}

/* Campo Duração */
.campoDuracao{
position: absolute;
width: 891px;
height: 38px;
left: 313px;
top: 562px;
background: #A1A2A6;
}

/* Campo Duração */
.campoSinopse{
position: absolute;
width: 1149px;
height: 296px;
left: 55px;
top: 727px;
background: #A1A2A6;
}